# Logs
logs
*.log
npm-debug.log*

# nyc test coverage
.nyc_output


# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# TypeScript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# package-lock
package-lock.json

# Visual Studio IDE dependencies
.vs/
.vscode/